adf_resources/pipeline/DW01_DIM.json
{
	"name": "DW01_DIM",
	"properties": {
		"activities": [
			{
				"name": "DimCompany",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DimCompany Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\nCompanyCode\n,CompanyName\nFROM [dbo].[DimCompany]",
						"queryTimeout": "02:01:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTableDW01",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetDW01",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set DimCompany Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DimCustomer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": "DimCompany"
				}
			},
			{
				"name": "Set DimDistributionChannelName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DimCompany",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": "DimDistributionChannel"
				}
			},
			{
				"name": "Set DimProfitCenterDAta Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DimDistributionChannel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": "DimProfitCenterData"
				}
			},
			{
				"name": "DimDistributionChannel",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DimDistributionChannelName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\nDistributionChannelCode\n,DistributionChannelName\nFROM [dbo].[DimDistributionChannel]",
						"queryTimeout": "02:01:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTableDW01",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetDW01",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DimProfitCenterData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DimProfitCenterDAta Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT *\nFROM [dbo].[DimProfitCenterData]",
						"queryTimeout": "02:01:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTableDW01",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetDW01",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set DimCustomer Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": "DimCustomer"
				}
			},
			{
				"name": "DimCustomer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DimCustomer Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\nCustomerCode\n,CustomerName\nFROM [dbo].[DimCustomer]",
						"queryTimeout": "02:01:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTableDW01",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetDW01",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"var1": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}