adf_resources/pipeline/DW01_DIM.json
{
	"name": "DW01_DIM",
	"properties": {
		"activities": [
			{
				"name": "Company",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DimCompany Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\nCompanyCode\n,CompanyName\nFROM [dbo].[DimCompany]",
						"queryTimeout": "02:01:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy",
							"metadata": [
								{
									"value": ""
								}
							]
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTableDW01",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetDW01",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set DimCompany Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": "DimCompany"
				}
			},
			{
				"name": "Set DimDistributionChannelname",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Company",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": "DimDistributionChannel"
				}
			}
		],
		"variables": {
			"var1": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}