adf_resources/pipeline/P01Brick02.json
{
	"name": "P01Brick02",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"cases": [
						{
							"value": "full",
							"activities": [
								{
									"name": "DIM-bronze-to-silver_full",
									"description": "ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "dummy full",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-Load-dim-bronze-to-silver"
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "FACT-bronze-to-silver_full",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "DIM-bronze-to-silver_full",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-Load-fact-bronze-to-silver",
										"baseParameters": {
											"table_name": {
												"value": "@variables('table_name')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "dummy full",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dummy",
										"value": {
											"value": "@equals(1, 1)\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "fact",
							"activities": [
								{
									"name": "dummy fact",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dummy",
										"value": {
											"value": "@equals(1, 1)\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "FACT-bronze-to-silver_fact",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "dummy fact",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-Load-fact-bronze-to-silver",
										"baseParameters": {
											"table_name": {
												"value": "@variables('table_name')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "dim",
							"activities": [
								{
									"name": "DIM-bronze-to-silver_dim",
									"description": "ETL",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "dummy dim",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-Load-dim-bronze-to-silver"
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "dummy dim",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dummy",
										"value": {
											"value": "@equals(1, 1)\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Condition1": {
				"type": "string"
			}
		},
		"annotations": []
	}
}