adf_resources/pipeline/P01Brick01.json
{
	"name": "P01Brick01",
	"properties": {
		"activities": [
			{
				"name": "Switch Container",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.Condition1",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "full",
							"activities": [
								{
									"name": "DIM-source-to-bronze",
									"description": "ELT",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "dummy full",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-ELT-dim-profit&loss-source-to-pre-tx-bronze",
										"baseParameters": {
											"extract_criteria": {
												"value": "@variables('extract_criteria_dim')",
												"type": "Expression"
											},
											"extract_date_fix": {
												"value": "@variables('extract_date_fix_dim')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "dummy full",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dummy",
										"value": {
											"value": "@equals(1, 1)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "FACT-source-to-bronze",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "DIM-source-to-bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-ELT-fact-profit&loss-source-to-pre-tx-bronze",
										"baseParameters": {
											"start_date": {
												"value": "@variables('start_date_fact')",
												"type": "Expression"
											},
											"end_date": {
												"value": "@variables('end_date_fact')",
												"type": "Expression"
											},
											"extract_criteria": {
												"value": "@variables('extract_criteria_fact')",
												"type": "Expression"
											},
											"extrace_date_fix": {
												"value": "@variables('extract_date_fix_fact')",
												"type": "Expression"
											},
											"mode": {
												"value": "@variables('mode')",
												"type": "Expression"
											},
											"table_name": {
												"value": "@variables('table_name')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "fact",
							"activities": [
								{
									"name": "dummy fact",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dummy",
										"value": {
											"value": "@equals(1, 1)\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "FACT-bronze-to-silver_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "FACT-source-to-bronze_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-Load-fact-bronze-to-silver",
										"baseParameters": {
											"table_name": {
												"value": "@variables('table_name')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "FACT-source-to-bronze_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "dummy fact",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/pkongdan01@gmail.com/P01/_P1-ELT-fact-profit&loss-source-to-pre-tx-bronze",
										"baseParameters": {
											"start_date": {
												"value": "@variables('start_date_fact')",
												"type": "Expression"
											},
											"end_date": {
												"value": "@variables('end_date_fact')",
												"type": "Expression"
											},
											"extract_criteria": {
												"value": "@variables('extract_criteria_fact')",
												"type": "Expression"
											},
											"extrace_date_fix": {
												"value": "@variables('extract_date_fix_fact')",
												"type": "Expression"
											},
											"mode": {
												"value": "@variables('mode')",
												"type": "Expression"
											},
											"table_name": {
												"value": "@variables('table_name')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricksP01",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "dim",
							"activities": [
								{
									"name": "dummy dim",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "dummy",
										"value": {
											"value": "@equals(1, 1)\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "dummy",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dummy",
								"value": {
									"value": "@equals(1, 1)\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Condition1": {
				"type": "string",
				"defaultValue": "fact"
			},
			"Condition2": {
				"type": "string",
				"defaultValue": "pnl"
			},
			"Condition3": {
				"type": "string",
				"defaultValue": "full"
			}
		},
		"variables": {
			"extract_criteria_dim": {
				"type": "String",
				"defaultValue": "full"
			},
			"extract_date_fix_dim": {
				"type": "String",
				"defaultValue": "2025-12-11"
			},
			"dummy": {
				"type": "Boolean",
				"defaultValue": true
			},
			"end_date_fact": {
				"type": "String",
				"defaultValue": "2023-12-31"
			},
			"start_date_fact": {
				"type": "String",
				"defaultValue": "2023-12-01"
			},
			"extract_criteria_fact": {
				"type": "String",
				"defaultValue": "full"
			},
			"extract_date_fix_fact": {
				"type": "String",
				"defaultValue": "2000-01-01"
			},
			"mode": {
				"type": "String",
				"defaultValue": "dev"
			},
			"table_name": {
				"type": "String",
				"defaultValue": "Z1FI3MP02"
			}
		},
		"annotations": []
	}
}